.notify{
background-attachment: scroll;
background-color: lightGreen;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border: 1px solid #50C24E;
box-shadow: rgba(0, 0, 0, 0.0976563) 0px 2px 4px;
color: darkGreen;
width: 310px;
cursor: pointer;
background-position: 0% 0%;
background-repeat: repeat no-repeat;
right:10px;
}
.notify p{
    padding: 10px;
    margin: 0;
}
.notify.error{
    background-color: #F00;
    color: white;
    border: 1px solid red;
}
#usuariosOnline{
  width: 250px;
  min-height: 100px;
  border:dotted #254F7A 5px;
  padding: 10px;
}
.conectados p{
  color:green;
}